<h1>Rotten Mangoes</h1>
<hr>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<%= form_tag(movies_path, method: :get) do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
<br>
  <%= label_tag :director %>
  <%= text_field_tag :director %>
<br>
  <%= label_tag :duration %>
  <%= select_tag :runtime_in_minutes, options_for_select(@movie_duration_options) %>
<br>
  <%= submit_tag "search" %>
<% end %>

<hr>

<% @movies.each do |movie| %>
  <%= render 'movie', :movie => movie %>
<% end %>

